<% provide(:title, 'New Script') %>
<h1>New Script</h1>

<%= form_for(@recipe, :method => :post, :remote => true)  do |f|  %>
  <div class="row">
    <div class="span1">
      <%= f.label :name %>
    </div>
    <div class="span2">
      <%= f.text_field :name %>
    </div>
    <div class="span8">
    </div>
  </div>
   <div class="row">
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
      <div class = "span1">xx</div>
    </div>
   <div id="dialog" class="modal-dialog" title="請選擇精油" style="display:none;">
      <p>請選擇精油?</p>
      <label for="yes"><input type="radio" id="yes" value="yes" name="question" > Yes </label> <br>
      <label for="no"><input type="radio" id="no" value="no" name="question" > No </label>
    </div>
   
   
    <fieldset id="addDiv">
      <div class="row">
        <div class="span6">藥學屬性</div>
        <div class="span2">精油</div>
        <div class="span2">比例</div>
        <div class="span2">滴數</div>
      </div>
    </fieldset>
   <div class="row">
      <div class="span12">
        <%= f.button :"新增藥學屬性",   id: "addoils", class: "btn btn-small"%>
      </div>
    </div>
    
  <div class="row">
    <div class="span6 offset3">
     
      
      <%= f.label :植物油 %>
      <%= select_tag(:recipe,options_from_collection_for_select(@baseoils,:id, :name)) %>
      
      <%= f.label :aroma_effect_id %>
      
      <%= f.fields_for (:AromaEffect) do |builder| %>
      <%= builder.collection_select :armoa_effect_id, AromaEffect.find(:all), :id, :name,
        {include_blank: true},
        { data: {
            dynamic_selectable_url: ecos_path(':armoa_effect_id'),
            dynamic_selectable_target: '#recipe_Eco_eco_id'
          }
        } %>
      <% end %>
    </div>
   
    
    <div class="span6 offset3">
      
      <%
      logger.debug "New recipe: #{@recipe.attributes.inspect}"
      logger.debug "recipe should be valid: #{@recipe.valid?}"
      %>
      
      <%= f.label :eco_id %><br>
      <%= f.fields_for (:Eco) do |builder| %>
      <%= builder.collection_select :eco_id, @recipe.aroma_effects.try(:ecos) || [], :id, :name, :include_blank => true  %>
      <% end %>
      <%= f.label :ML %>
      <%= f.text_field :ml %>
      <%= f.label :濃度 %>
      <%= f.text_field :mol %>

      <%= f.label :Remark %>
      <%= f.text_field :remark %>
      <%= f.submit "Create New Script", class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
